/*Estilos Contacto*/
#main-contacto {
    display: grid;
    place-items: center;
    background: linear-gradient(to top, $color-gradiente-primero, $color-gradiente-segundo);
    padding: 20px;
    #h1-contacto {
        margin-bottom: 30px;
        color: $color-index;
        @include fuentes(700, 70px, $caveat);
    }
    .formulario {
        display: grid;
        gap: 20px;
        max-width: 500px;
        width: 100%;
        .categoria-formulario {
        display: grid;
            label {
                font-weight: bold;
                background-color: $color-label;
                color: $color-label-texto;
                padding-left: 10px;
                @include fuentes(400, 20px, $mplus);
            }
            input::placeholder,
            textarea::placeholder {
                @include fuentes(400, 20px, $mplus);
            }
            input {
                padding-left: 10px;
                height: 45px;
            }
            select {
                @include fuentes(400, 20px, $mplus);
                option {
                    @include fuentes(400, 16px, $mplus);
                }   
            }        
            textarea {
                padding: 10px;
                width: 100%;
                height: 150px;
            }
        }
        .enviar {
            @include display(flex, center);
            button {
                padding: 10px 20px;
                margin-bottom: 20px;
                color: $blanco;
                background: linear-gradient(to top, $color-gradiente-primero, $color-gradiente-segundo);
                border-radius: 5px;
                border-color: $blanco;
                cursor: pointer;
                @include fuentes(400, 20px, $mplus);
                &:hover {
                    color: $color-label-texto;
                }
            }
        }
    }
}











