/*Estilos Footer*/
footer {
    height: 10vh;
    .footer-container {
        @include display(flex, space-between);
        align-items: center;
        height: 100%;
        padding: 0 20px;
        .redes-sociales {
            display: flex;
            gap: 10px;
            img {
                width: 30px;
                height: 30px;
            }
        }
        .copyright {
            text-align: center;
            flex: 1;
            margin: 0;
            @include fuentes(400, 14px, $mplus)
        }
    }
}