#main-index {
    height: 75vh;
    background-image: url(https://images5.alphacoders.com/983/983077.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    #seccion-index {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #h1-index {
            color: rgb(236, 224, 224);
            font-family: 'Caveat', cursive;
            font-weight: 700;
            font-size: 60px;
        }
        #h2-index {
            color:rgb(236, 224, 224);
            font-family: 'Caveat', cursive;
            font-weight:700;
            font-size: 45px;
        }    
    }
}
@media (max-width: 600px) {
    #main-index {
    height: auto;
    padding: 20px;
    }

    #h1-index {
    font-size: 40px;
    text-align: center;
    }

    #h2-index {
    font-size: 30px;
    text-align: center;
    }

    #seccion-index {
    text-align: center;
    }

    .d-flex {
    flex-direction: column;
    gap: 7px;
    }

    .btn {
    width: 100%;
    }
}