.main-index {
    height: 75vh;
    background-image: url(https://images5.alphacoders.com/983/983077.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @extend .flex-center;
    .seccion-index {
        height: 100%;
        @extend .flex-center;
        flex-direction: column;
        .h1-index {
            color: $color-index;
            @include fuentes(700, 60px, $caveat);
        }
        .h2-index {
            color: $color-index;
            @include fuentes(700, 45px, $caveat);
        }    
    }
}
@media (max-width: 600px) {
    .main-index {
    height: auto;
    padding: 20px;
    }

    .h1-index {
    font-size: 40px;
    text-align: center;
    }

    .h2-index {
    font-size: 30px;
    text-align: center;
    }

    .seccion-index {
    text-align: center;
    }

    .d-flex {
    flex-direction: column;
    gap: 7px;
    }

    .btn {
    width: 100%;
    }
}