/*Estilos Paginas Recetas*/
.main-paginas-recetas {
    background-color: rgb(55, 159, 163);
    .h1-paginas-recetas {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: black;
        font-family: 'M PLUS 2', sans-serif;
        font-weight: 400;
    }
    .h2-paginas-recetas {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: black;
        font-family: 'M PLUS 2', sans-serif;
        font-weight: 400;
    }
    .img-paginas-recetas {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .h3-paginas-recetas {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: black;
        font-family: 'M PLUS 2', sans-serif;
        font-weight: 350;
    }
    .p-paginas-recetas-items {
        margin-bottom: 10px;
        font-size: 25px;
        font-family: 'M PLUS 2', sans-serif;
        font-weight: 400;
        text-align: justify;
        text-decoration: underline;
        margin: 10px;
    }
    ul {
        .li-paginas-recetas {
            margin-bottom: 25 px;
            font-size: 15px;
            font-family: 'M PLUS 2', sans-serif;
            font-weight: 400;
            text-align: justify;
        }
    }
}