/*Estilos Paginas Recetas*/
.main-paginas-recetas {
    background-color: $color-principal;
    .h1-paginas-recetas {
        text-align: center;
        color: $negro;
        @include fuentes(400, 40px, $mplus);
    }
    .h2-paginas-recetas {
        text-align: center;
        color: $negro;
        @include fuentes(400, 30px, $mplus)
    }
    .img-paginas-recetas {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .h3-paginas-recetas {
        text-align: center;
        color: $negro;
        @include fuentes(350, 25px, $mplus);
    }
    .p-paginas-recetas-items {
        margin-bottom: 10px;
        text-align: justify;
        text-decoration: underline;
        margin: 10px;
        @include fuentes(400, 25px, $mplus)
    }
    ul {
        .li-paginas-recetas {
            margin-bottom: 25 px;
            @include fuentes(400, 15px, $mplus);
            text-align: justify;
        }
    }
}