/*Estilos Recetas*/
.main-recetas {
    @extend .flex-center;
    background: linear-gradient(to top, $color-gradiente-primero, $color-gradiente-segundo);
    flex-direction: column;
    height: auto;
    .h1-recetas {
        text-align: center;
        color: $color-index;
        margin-top: 40px;
        @include fuentes(700, 60px, $caveat);
    }
    .container-recetas {
        @include display(flex, center);
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .tarjeta-recetas {
            border-radius: 5px;
            margin: 40px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: 3px solid $color-index;
            flex: 1 0 calc(45% - 40px);
            align-self: stretch;
            a {
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.5s ease;                  
                }
            }
                &:hover img {
                    transform: scale(1.35);
                }
            .img-tarjetas {
                width: 100%;
                height: 250px;
                border-radius: 5px 5px 0 0;
                object-fit: cover;
                display: block;
                margin: 0 auto;
            }
            .tarjeta-principal {
                flex: 1;
                flex-direction: column;
                @include display(flex, space-between);
                .h2-tarjetas {
                    text-align: center;
                    color: $color-index;
                    @include fuentes(400, 22px, $mplus);
                    font-weight: bold;
                }
                .p-tarjetas {
                    margin-bottom: 10px;
                    text-align: justify;
                    @include fuentes(500, 18px, $mplus);
                }
                .ver-mas-recetas {
                    margin: 0 auto;
                    background: linear-gradient(to left, $color-fondo-boton, $color-gradiente-segundo);
                    display: inline-block;
                    padding: 10px 10px;
                    color: $negro;
                    text-decoration: none;
                    border-radius: 15px;
                    border: 2px solid $color-index;
                    text-align: center;
                    width: 190px;
                    height: 55px;
                    @include fuentes(500, 18px, $mplus);
                    &:hover {
                        color: rgb(135, 141, 122);
                    }
                }
            }
        }
    }
}
@media (max-width: 499px) {
.main-recetas {
    .container-recetas {
        justify-content: flex-start;
        align-items: center;
        .tarjeta-recetas {
            flex: 1 0 calc(90% - 40px);
            margin: 20px;
            padding: 10px;
            .tarjeta-principal {
                .h2-tarjetas {
                    @include fuentes(400, 18px, $mplus);
                }
                .p-tarjetas,
                .ver-mas-recetas {
                    @include fuentes(400, 15px, $mplus);
                }
            }
        }
    }
}
}   



