/*Estilos Recetas*/
.main-recetas {
    @extend .flex-center;
    background-color: $color-principal;
    flex-direction: column;
    height: auto;
    .h1-recetas {
        text-align: center;
        color: $color-index;
        margin-top: 40px;
        @include fuentes(700, 60px, $caveat);
    }
    .container-recetas {
        @include display(flex, center);
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .tarjeta-recetas {
            border-radius: 5px;
            margin: 40px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: 3px solid $color-index;
            flex: 1 0 calc(45% - 40px);
            align-self: stretch;
            .img-tarjetas {
                width: 100%;
                height: 250px;
                border-radius: 5px 5px 0 0;
                object-fit: cover;
                display: block;
                margin: 0 auto;
            }
            .tarjeta-principal {
                flex: 1;
                flex-direction: column;
                @include display(flex, space-between);
                .h2-tarjetas {
                    text-align: center;
                    color: $negro;
                    @include fuentes(400, 22px, $mplus);
                    font-weight: bold;
                }
                .p-tarjetas {
                    margin-bottom: 10px;
                    text-align: justify;
                    @include fuentes(500, 18px, $mplus);
                }
                .ver-mas-recetas {
                    display: inline-block;
                    padding: 5px 10px;
                    background-color: $color-index;
                    color: $negro;
                    text-decoration: none;
                    border-radius: 3px;
                    border: 1px solid;
                    text-align: center;
                    @include fuentes(500, 18px, $mplus);
                }
            }
        }
    }
}
@media (max-width: 499px) {
.main-recetas {
    .container-recetas {
        justify-content: flex-start;
        align-items: center;
        .tarjeta-recetas {
            flex: 1 0 calc(90% - 40px);
            .tarjeta-principal {
                .h2-tarjetas {
                    @include fuentes(400, 18px, $mplus);
                }
                .p-tarjetas,
                .ver-mas-recetas {
                    @include fuentes(400, 15px, $mplus);
                }
            }
        }
    }
}
}   



